<footer class="page-footer light-blue lighten-3" style="margin-top: -20px;">
  <div class="container">
   <div class="center-align" style="margin-bottom:30px;">
     <h5 class="white-text">Made by yours truly &#9829;!</h5>
     <p class="white-text">Got help from the amazing Materialize framework.</p>
   </div>
  </div>
  <div class="footer-copyright">
   <div class="container">
   © 2015 Gavin Ching
   <%#<a class="grey-text text-lighten-4 right" href="#!">You want to go up?</a>%>
   </div>
  </div>
</footer>
