<meta charset="UTF-8">
<title>Gavin Ching</title>
<link rel="shortcut icon" href="<%= cloudinary.url('favicon_q02ybv.png', {quality: 10})%>" />
<link rel="stylesheet" href="stylesheets/reset.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
