<div id="outer" style="width: 100%; height: 1200px;">
  <div id="video-wrap">

    <video id="my-video" preload="metadata" autoplay loop>
      <source src="videos/gavin_low.mp4" type="video/mp4">
    </video>

    <div class="valign-wrapper content-overlay" style="height: 75%;">
      <div class="valign center container" style="">
        <div class="z-depth-1 black-opac" style="padding: 20px;">
          <img src="/images/gavin_1.png" alt="" class="circle responsive-img">
          <h1 class="header white-text">Gavin Ching</h1>
          <h5 class="white-text">Explore. Dream. Discover.</h5>
          <div class="container" style="padding: 20px">
            <div class="row">
              <div class="col s4 m4 l2 offset-l3">
                <a href="https://twitter.com/gching"
                class="waves-effect waves-light btn-floating">

                  <i class="fa fa-twitter fa-3x"></i>
                </a>
              </div>
              <div class="col s4 m4 l2">
                <a href="https://github.com/gching"
                class="waves-effect waves-light btn-floating">

                  <i class="fa fa-github-alt fa-3x"></i>
                </a>
              </div>
              <div class="col s4 m4 l2">
                <a href="https://ca.linkedin.com/in/gavinching"
                class="waves-effect waves-light btn-floating">
                  <i class="fa fa-linkedin fa-3x"></i>
                </a>
              </div>
            </div>
          </div>
          <div style="padding: 20px;">
            <a class="waves-effect waves-light btn-large light-blue modal-trigger" href="#subscribeModal">Notify Me</a>
          </div>

          <div style="">
            <i class="light-blue-text small mdi-navigation-arrow-drop-down-circle"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
