<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./shared/head %>
</head>
<body>
  <!--
  <div class="loader-body">
    <% include ./shared/loader %>
  </div>
  -->
  <div class="vid-header" >
    <% include ./shared/video_banner %>
  </div>

  <div class="app">
    <div class="container">
      
    </div>
  </div>


  <% include ./shared/scripts %>
</body>
</html>
