<div class="parallax-container z-depth-3">
  <div class="parallax"><img src="images/that-me.jpg"></div>
</div>

<div class="container">
  <h1 class="light-blue-text weight-200 z-depth-1 section-title">
    Me<span class="hide-on-small-only"> (and everything not cool about me)</span>
  </h1>
  <p class="flow-text">My name is <strong>Gavin Ching</strong>. It's cute you are here :>.</p>
  <h2 class="light-blue-text weight-200">Who am I?</h2>

    I am an explorer, nerd, challenger, geek, developer and discoverer. I have travelled and worked across the globe (you can check out the places in my photos!) doing the things I love. Yes, I love coding and doing anything nerd related. But most importantly, I love exploring, taking on challenges in places I have never seen before.</p>

  <div class="row">
    <div class="col s12 m4">
      <div class="card small">
        <div class="card-image">
          <img class="" src="images/default-1.jpg">
          <span class="card-title">Explorer</span>
        </div>
        <div class="card-content">
          <p class="card-para">I have been across the world, seeing many wonders and meeting tons of great people. I've trotted the globe to work, study and explore.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class=""  src="images/default-2.jpg">
          <span class="card-title">Explorer</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href='#'>This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="" src="images/default-3.jpg">
          <span class="card-title">Explorer</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href='#'>This is a link</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col s12">
        <br/>
        <p class="flow-text">Need to know more? Scroll more den.</p>
      </div>
    </div>

  </div>
</div>
