<div class="parallax-container">
  <div class="parallax"><img src="images/that-me.jpg"></div>
</div>

<div class="container">
  <h1 class="light-blue-text weight-200">
    Me<span class="hide-on-small-only"> (and everything not cool about me)</span>
  </h1>
  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img" src="images/default-1.jpg">
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img"  src="images/default-2.jpg">
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img"  src="images/default-3.jpg">
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col s12">
        <p class="flow-text">My name is Gavin Ching. I am an explorer, nerd, challenger, geek, developer and discoverer. I have travelled and worked across the globe (you can check out the places in my photos!) doing the things I love. Yes, I love coding and doing anything nerd related. But most importantly, I love exploring, taking on challenges in places I have never seen before.</p>
        <br/>
        <p class="flow-text">Need to know more? Scroll more den.</p>
      </div>
    </div>

  </div>
</div>
