<div class="parallax-container z-depth-3">
  <div class="parallax"><img src="images/that-me.jpg"></div>
</div>

<div class="container section-padding">
  <h1 class="light-blue-text weight-200 z-depth-1 section-title center">
    Me<span class="hide-on-med-and-down"> (and everything not cool about me)</span>
  </h1>

  <h2 class="light-blue-text weight-200 center">Who is <strong>Gavin Ching</strong>?</h2>

  <div class="row">
    <div class="col s12 m4">
      <div class="card medium">
        <div class="card-image">
          <img class="" src="images/default-1.jpg">
          <span class="card-title">Explorer</span>
        </div>
        <div class="card-content">
          <p>I have <strong>been across the world</strong>, seeing many wonders and meeting tons of great people. I've trotted the globe to work, study and explore.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card medium ">
        <div class="card-image" style="">
          <img class="" src="images/challenger2.jpg" style="">
          <span class="card-title">Challenger</span>
        </div>
        <div class="card-content">
          <p>I love taking on <strong>challenges in life and work</strong>. Trekked and worked in many environments where I did not know the language or culture. I adapted and I succeeded.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card medium ">
        <div class="card-image">
          <img class="" src="images/geek.jpg">
          <span class="card-title">Nerdy Developer</span>
        </div>
        <div class="card-content">
          <p>I love <strong>developing and everything nerdy</strong>. Most importantly, I love product design so I can satisfy every customers needs :>.</p>
          <p><em>Well, as long as I get them user stories right.</em></p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card ">
        <div class="card-image ">
          <img class="" src="images/weirdo.jpg">
          <span class="card-title">Weirdo</span>
        </div>
        <div class="card-content">
          <p>Love <strong>being fun and serious whenever the time comes</strong>. If you are happy, I will be happy with you, but if you are sad, I will be humorous to cheer you up :>.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card ">
        <div class="card-image ">
          <img class="" src="images/default-3.jpg">
          <span class="card-title">Discoverer</span>
        </div>
        <div class="card-content">
          <p>I've <strong>discovered many things in my lifetime</strong>, doing stuff that no one else has done before. But most importantly and most cheesily, I've discovered more about myself.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card ">
        <div class="card-image ">
          <img class="" src="images/lover.jpg">
          <span class="card-title">Hugger</span>
        </div>
        <div class="card-content">
          <p>I am a <strong>good hugger.</strong> I don't know actually, but that is what the minion told me :>. Do rate my hug if you ever have the chance to hugs.</p>
          <p><em>#hugs4life #hugsFromGavin</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
