<div class="parallax-container z-depth-3">
  <div class="parallax"><img src="images/that-me.jpg"></div>
</div>

<div class="container section-padding">
  <h1 class="light-blue-text weight-200 z-depth-1 section-title center white">
    Cool Me<span class="hide-on-med-and-down"> (and not cool me)</span>
  </h1>

  <h2 class="light-blue-text weight-200 center">Who is <strong>Gavin Ching</strong>?</h2>

  <div class="row about-cards">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"src="images/default-1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator light-blue-text">Explorer
            <i class="mdi-navigation-more-vert right"></i>
          </span>
        </div>
        <div class="card-reveal">
         <span class="card-title light-blue-text">
           Explorer<i class="mdi-navigation-close right"></i>
         </span>
         <p class="">I have <strong>been across the world</strong>, seeing many wonders and meeting tons of great people. I've trotted the globe to work, study and explore.</p>
       </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/challenger2.jpg">
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text">
            Challenger<i class="mdi-navigation-close right"></i>
          </span>
          <p>I love taking on <strong>challenges in life and work</strong>. Trekked and worked in many environments where I did not know the language or culture. I adapted and I succeeded.</p>
        </div>
        <div class="card-content">
          <span class="card-title activator light-blue-text">
            Challenger
            <i class="mdi-navigation-more-vert right"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card ">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/geek.jpg">
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text">
            Developer<i class="mdi-navigation-close right"></i>
          </span>
          <p>I love <strong>developing and everything nerdy</strong>. Most importantly, I love product design so I can satisfy every customers needs :>.</p>
          <p><em>Well, as long as I get them user stories right.</em></p>
        </div>
        <div class="card-content">
          <span class="card-title activator light-blue-text">
            Developer
            <i class="mdi-navigation-more-vert right"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/weirdo.jpg">
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text">
            Weirdo<i class="mdi-navigation-close right"></i>
          </span>
          <p>Love <strong>being fun and serious whenever the time comes</strong>. If you are happy, I will be happy with you, but if you are sad, I will be humorous to cheer you up :>.</p>
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text activator">
            Weirdo<i class="mdi-navigation-more-vert right"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/default-3.jpg">
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text">
            Discoverer<i class="mdi-navigation-close right"></i>
          </span>
          <p>I've <strong>discovered many things in my lifetime</strong>, doing stuff that no one else has done before. But most importantly and most cheesily, I've discovered more about myself.</p>
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text activator">
            Discoverer<i class="mdi-navigation-more-vert right"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/lover.jpg">
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text">
            Hugger<i class="mdi-navigation-close right"></i>
          </span>
          <p>I am a <strong>good hugger.</strong> I don't know actually, but that is what the minion told me :>. Do rate my hug if you ever have the chance to hugs.</p>
          <p>#hugs4life</p>
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text activator">
            Hugger<i class="mdi-navigation-more-vert right"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
