/**
	Background helpers
*/

body {
	background-color: #f5f5f5;
}

.black-opac {
  background-color: rgba(0,0,0,0.1);
}

/**
	Typography
*/
.weight-200 {
	font-weight: 200;
}

/**
	Video Banner
*/
.content-overlay {
	position: relative;
	z-index: 20;
}

strong {
	color: #039be5;
}

/**
	Section specific as well as headers, titles for sections
*/
/** deprecate*/
.section-padding {
	padding-top: 30px;
	padding-bottom: 10px;
}

/** For internal padding in section titles */
.section-title {
	padding: 25px 0 25px 0;
}

.title-pad {
	padding-bottom: 25px;
}

/**
	Cards
*/
.card-title-helper {
	background-color: rgba(0,0,0,0.2);
	bottom: 3px !important;
}

.card-content p {
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300;
}

.card-reveal p {
	line-height: 1.3;
	font-size: 16px;
	font-weight: 300;
}

.about-cards .card-reveal p {
	padding-top: 20px;
}

/**
	Collections
*/
.collection li {
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300;
}

/**
	Skills specific
*/
.skill {
	position: relative;
	margin-bottom: 30px;
	min-height: 150px;
}
.skill h5 {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.skills-collection img {
	max-width: 100px;
	max-height: 100px;
}

/**
	Navigation bar
*/
.stick-me {
	z-index: 2;
}
