.content-overlay {
	position: relative;
	z-index: 20;
}

.black-opac {
  background-color: rgba(0,0,0,0.1);
}

.stick-me {
	z-index: 1;
}

.weight-200 {
	font-weight: 200;
}

.section-title {
	padding-left: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.card-content p {
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300;
}
.card-para {

}

strong {
	color: #039be5;
}
