<div class="row">
   <div class="col s12 m12">
     <div class="card light-blue lighten-1 white-text">
       <div class="card-content">
         <h2>FrontEnd</h2>
       </div>
       <div class="card-content">
         <div class="row skills-collection center-align">
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/html5.png" class="responsive-img">
               <h5>HTML5</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/css3.png" class="responsive-img">
               <h5>CSS3</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/javascript-logo.png" class="responsive-img">
               <h5>JavaScript</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/jquery-logo.png" class="responsive-img">
               <h5>jQuery</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/sass-logo.png" class="responsive-img">
               <h5>Sass</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/browserify-logo.png" class="responsive-img">
               <h5>Browserify</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/gulp-logo.png" class="responsive-img">
               <h5>Gulp</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/karma.png" class="responsive-img">
               <h5>Karma</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/nightwatch-logo.png" class="responsive-img">
               <h5>NightwatchJS</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/casperjs-logo.png" class="responsive-img">
               <h5>CasperJS</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="images/logos/react.png" class="responsive-img">
               <h5>React</h5>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
