
<ul id="generalNerd" class="collection with-header">
  <li class="collection-header">
    <h2 class="light-blue-text">General Nerdy Stuff</h2>
  </li>
  <li class="collection-item">
   TDD / BDD
  </li>
  <li class="collection-item">
   RESTful API's
  </li>
  <li class="collection-item">
    Git / Github / Gitlab
  </li>
  <li class="collection-item">
   Objective and Reactive
  </li>
  <li class="collection-item">
   Deployment
  </li>
  <li class="collection-item">
   Startup Failure <em>or Lesson Learner</em>
  </li>
</ul>
