<div class="row">
   <div class="col s12 m12">
     <div class="card light-blue lighten-1 white-text">
       <div class="card-content">
         <h2>Nerdy Languages</h2>
       </div>
       <div class="card-content">
         <div class="row skills-collection center-align">
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="<%= cloudinary.url('c-logo_xzk2wf.png', trans.common_logo_h) %>" class="responsive-img">
               <h5>C</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="<%= cloudinary.url('cplus-logo_wv7xp1.png', trans.common_logo_w) %>" class="responsive-img">
               <h5>C++</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="<%= cloudinary.url('ruby-logo_rktxk6.png', trans.common_logo_w) %>" class="responsive-img">
               <h5>Ruby</h5>
             </div>
           </div>
           <div class="col s6 m4 l3">
             <div class="skill">
               <img src="<%= cloudinary.url('javascript-logo_zdyo2f.png', trans.common_logo_h) %>" class="responsive-img">
               <h5>JavaScript</h5>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
