<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../shared/head %>
</head>
<body>
  <!--
  <div class="loader-body">
    <% include ../shared/loader %>
  </div>
  -->
  <div class="vid-header" >
    <% include ./video_banner %>
  </div>

  <div class="app">
    <% include ./root_tabs %>
    <% include ./about/index %>
    <% include ./cv/index %>
  </div>


  <% include ../shared/scripts %>
</body>
</html>
