<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../shared/head %>
</head>
<body>

  <div class="loader-body center-align">
    <% include ../shared/loader %>
  </div>

  <div class="vid-header" style="opacity: 0;">
    <% include ./video_banner %>
  </div>

  <div class="app"  style="opacity: 0;">
    <% include ./root_tabs %>
    <% include ./about/index %>
    <% include ./cv/index %>
    <% include ./gallery/index %>
    <% include ./how/index %>
  </div>

  <% include ../shared/footer %>

  <% include ../shared/scripts %>
</body>
</html>
