<div id="stickTabs" class="row stick-nav">
  <div class="col s12 nav-remove">
    <ul class="tabs">
     <li class="tab col s3">
       <a href="#meSect">Me</a>
     </li>
     <li class="tab col s3">
       <a href="#cvSect">CV</a>
     </li>
     <li class="tab col s3">
       <a href="#gallerySect">Gallery</a>
     </li>
     <li class="tab col s3">
       <a href="#contactSect">Contact</a>
     </li>
    </ul>
  </div>
</div>
