<div id="outer" style="width: 100%; height: 100%; position: relative;">
  <div id="video-wrap" style="height:480px;">

    <%- cloudinary.video('gavin_low_y1xrgg', {video_codec: 'auto', autoplay: true, id: 'my-video', loop: true}) %>

    <div class="valign-wrapper content-overlay" style="height: 100%;">
      <div class="valign center-align container z-depth-5 section">
          <div class="circle-header">
            <img src="<%= cloudinary.url('gavin_1_yheigu.png', trans.common_lossy) %>" alt="" class="circle responsive-img">
          </div>
          <h2 class="header white-text">Gavin Ching</h2>
          <h5 class="white-text">Explore. Dream. Discover.</h5>

          <div class="container">
            <div class="row">
              <div class="col s4 m4 l2 offset-l3">
                <a href="https://twitter.com/gching"
                class="waves-effect waves-light btn-floating">
                  <i class="light-blue fa fa-twitter"></i>
                </a>
              </div>
              <div class="col s4 m4 l2">
                <a href="https://github.com/gching"
                class="waves-effect waves-light btn-floating">

                  <i class="light-blue fa fa-github-alt"></i>
                </a>
              </div>
              <div class="col s4 m4 l2">
                <a href="https://ca.linkedin.com/in/gavinching"
                class="waves-effect waves-light btn-floating">
                  <i class="light-blue fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="btn-large disabled ">Blog</div>



        </div>
    </div>

  </div>
  <a id="arrowClick" class="floating-arrow btn-floating btn-large waves-effect waves-light light-blue darken-2 hide-on-med-and-down">
    <i class="mdi-navigation-expand-more"></i>
  </a>
</div>
