<div class="light-blue lighten-5" style="padding-top:10px;">
  <div class="container">
    <h1 class="light-blue-text weight-200">
      How to talk to me
    </h1>

    <div class="row">
      <div class="col s8">
        <p class="flow-text">Want to chat, do business or get a coffee? Email me at gavinchingy@gmail.com and I will always get back to you. Of course, the coffee has to be on you. As well, you can hit me up on any of my social media.</p>
      </div>
      <div class="col s4 center-align">
        <img class="responsive-img"  src="images/gavin_2.png">
      </div>
    </div>

  </div>
</div>
