<div class="light-blue lighten-3 section">

  <div id="contactSect" class="container scrollspy">
    <h1 class="light-blue-text weight-200">
      How to talk to me
    </h1>

    <div class="row">
      <div class="col s8 flow-text">
        <p>Want to chat, do business or get a coffee? Email me at
          <a
          href="mailto:gavinchingy@gmail.com?subject=Hi%20Gavin!&amp;body=Insert%20Message%20Here">
            <strong class="black-text lighten-text-4"><u>gavinchingy@gmail.com</u></strong>
          </a>
          and I will always get back to you.</p>
        <br/>
        <p><em>Of course, the coffee has to be on you.</em></p>
      </div>
      <div class="col s4 center-align">
        <img class="responsive-img circle"
        src="
        <%= cloudinary.url('gavin_2_anb1pv.png', {fetch_format: 'auto',flags: 'lossy'}) %>
        ">
      </div>
    </div>

  </div>

</div>
