<div class="parallax-container z-depth-3">
  <div class="parallax"><%- cloudinary.image('default_4_n2feh5.jpg', trans.common) %></div>
</div>

<div id="gallerySect" class="container section scrollspy">
  <div  class="title-pad">
    <h1 class="light-blue-text weight-200 z-depth-1 section-title center white">
      Nice Photos
    </h1>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-3"
      src="<%= cloudinary.url('default_1_ry93hh.jpg', trans.common) %>">
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-3"
      src="<%= cloudinary.url('default_2_l7neds.jpg', trans.common) %>">
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-3"
      src="<%= cloudinary.url('default_3_tc35kt.jpg', trans.common) %>">
    </div>
  </div>

</div>
