<div class="card orange">
  <div class="card-image">
    <%- cloudinary.image('nus2_nvpqpg.jpg') %>
    <span class="card-title card-title-helper">
      <h5>Computer Engineer on Exchange</h5>
      <h6>National University of Singapore</h6>
      <h6>Aug 2013 - Dec 2013</h6>
    </span>
  </div>
  <div class="card-content">
    <ul class="collection orange lighten-5">
      <li class="collection-item">Took on a full course load of five modules while exploring the Singapore culture</li>
	    <li class="collection-item">Created a business plan for a device that turns a handshake into information exchange</li>
    </ul>
  </div>
</div>
