<div class="card large">
  <div class="card-image">
    <img src="images/default-2.jpg">
    <span class="card-title">
      <h5>Computer Engineer on Exchange</h5>
      <h6>National University of Singapore</h6>
      <h6>Aug 2013 - Dec 2013</h6>
    </span>
  </div>
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</div>
