<div class="card red accent-1">
  <div class="card-image">
    <%- cloudinary.image('uoft_nbewyl.jpg', trans.common_card_2) %>
    <span class="card-title card-title-helper">
      <h5>Computer Engineer</h5>
      <h6>University of Toronto</h6>
      <h6>2012-2016</h6>
    </span>
  </div>
  <div class="card-content">
    <ul class="collection red lighten-5">
      <li class="collection-item">Studying the things I love and hanging with the great friends I love.</li>
    </ul>
  </div>

</div>
