<div class="parallax-container z-depth-3">
  <div class="parallax"><%- cloudinary.image('default_2_l7neds.jpg', trans.common) %></div>
</div>

<div id="cvSect" class="container section scrollspy">

  <div  class="title-pad">
    <div class="z-depth-1 center white">
      <h1 class="light-blue-text weight-200 section-title">
        CV<span class="hide-on-small-only"> (The Cool Stuff)</span>
      </h1>
      <a class="waves-effect waves-light btn disabled" style="margin-top:-40px;">
        <i class="mdi-file-cloud-download left"></i>
        Download PDF
      </a>
    </div>
  </div>

  <p class="flow-text">
    Hi <span id="nameCV"><strong>internet person</strong>, or the <strong>amazing and good looking person</strong> I directed to here</span>. Listed are my experiences, hobbies, lifestyles and everything in between.
  </p>

  <div class="center-align section">
    <h3 class="center-align light-blue-text weight-200">
      Wherever you need my skills, I will be there!
    </h3>
    <a id="contactButton" class="center-align waves-effect waves-light btn-large orange">
      Contact Me
    </a>
  </div>


  <ul id="summary" class="collection with-header">
    <li class="collection-header">
      <h2 class="light-blue-text">Summary of Skills</h2>
    </li>
    <li class="collection-item">
      Initialized and developed <strong>marketing campaigns</strong> including video creation
    </li>
    <li class="collection-item">
      Experience with <strong>sales and improved workflows</strong> through integration with CRM's
    </li>
    <li class="collection-item">
    Fluent in <strong>C/C++, Ruby, Javascript, Ruby on Rails and Express</strong>
    </li>
    <li class="collection-item">
    Advocate and follower of <strong>TDD / BDD</strong> <em>(No, I am not weird)</em>
    </li>
    <li class="collection-item">
    Worked deeply with <strong>back-end stacks</strong> (NodeJS, API’s) and <strong>front-end stacks</strong> (Javascript, jQuery)
    </li>
    <li class="collection-item">
    Database (<strong>SQL and NoSQL</strong>) experience and deployment/management of <strong>Cassandra cluster</strong>
    </li>
  </ul>

  <h2 class="light-blue-text weight-200">Where</h2>
  <div class="row whereCards">
    <div class="col s12 l6">
      <% include ./educ/uoft.ejs %>
    </div>
    <div class="col s12 l6">
      <% include ./educ/nus.ejs %>
    </div>
  </div>

  <h2 class="light-blue-text weight-200">Why</h2>
  <div class="row whyCards">
    <div class="col s12">
      <% include ./work/felix.ejs %>
    </div>
    <div class="col s12">
      <% include ./work/nst.ejs %>
    </div>
    <div class="col s12">
      <% include ./work/apollo.ejs %>
    </div>
  </div>

  <h2 class="light-blue-text weight-200">How</h2>
  <% include ./skills/general %>
  <% include ./skills/front %>
  <% include ./skills/back %>
  <% include ./skills/frameworks %>
  <% include ./skills/languages %>
</div>
