<div class="card orange">
  <div class="card-image">
    <img src="images/apollo.jpg">
    <span class="card-title card-title-helper">
      <h5>Chief Technical Officer</h5>
      <h6>Apollosoft - Vancouver</h6>
      <h6>April 2013 - Aug 2013</h6>
    </span>
  </div>

  <div class="card-content">
    <ul class="collection orange lighten-5">
      <li class="collection-item">
        Based off lead framework, I assisted in creating an application using Ruby on Rails for university clients
      </li>
      <li class="collection-item">
        Created the minimal viable product (MVP) of a management web application for advisors in university
      </li>
      <li class="collection-item">
        Consulted with clients to create a MVP that fits their needs of digitalizing paper reports
      </li>
      <li class="collection-item">
        Established a team culture with a starting team of four people in person and virtually
      </li>
    </ul>
  </div>
</div>
