<div class="card red accent-1">
  <div class="card-image">
    <%- cloudinary.image('corp_zys41z.jpg', trans.common) %>
    <span class="card-title card-title-helper">
      <h5>Corporate Account Manager</h5>
      <h6>AIESEC Toronto - Toronto, Canada</h6>
      <h6>Jan 2014 - May 2014</h6>
    </span>
  </div>

  <div class="card-content">
    <ul class="collection red lighten-5">
      <li class="collection-item">
        Responsible for providing business solutions to companies in the Greater Toronto Area
      </li>
	    <li class="collection-item">
        Constructed and utilized CRM to better handle sales internally in the team
      </li>
      <li class="collection-item">
        Planned a better work flow for sales members to be more organized in cold calls and following up
      </li>
	    <li class="collection-item">
        Utilized the unused alumni pool to increase potential customers and sales insights
      </li>
    </ul>
  </div>
</div>
