<div class="card red accent-1">
  <div class="card-image">
    <%- cloudinary.image('toronto_fix71x.jpg', trans.common) %>
    <span class="card-title card-title-helper">
      <h5>Director of EP Engagement</h5>
      <h6>AIESEC Toronto - Toronto, Canada</h6>
      <h6>Sept 2012 - Dec 2012</h6>
    </span>
  </div>

  <div class="card-content">
    <ul class="collection red lighten-5">
      <li class="collection-item">
        The team lacked in having strong relationships with past alumnus of the exchange program
      </li>
	    <li class="collection-item">
        Organized social events for alumnus and members to share their international experiences
      </li>
      <li class="collection-item">
        Constructed a list of past alumnus of the program, allowing for easy contact and re-integration
      </li>
	    <li class="collection-item">
        Relationships between members, past alumnus, and externals were created and improved
      </li>
    </ul>
  </div>
</div>
