<div class="card red accent-1">
  <div class="card-image">
    <%- cloudinary.image('farmer_jiy5og.jpg', trans.common) %>
    <span class="card-title card-title-helper">
      <h5>Farmer Volunteer</h5>
      <h6>AIESEC - Taiwan</h6>
      <h6>May 2012 - July 2012</h6>
    </span>
  </div>

  <div class="card-content">
    <ul class="collection red lighten-5">
      <li class="collection-item">
        Promoted under appreciated organic farming through the use of social media in Taiwan
      </li>
	    <li class="collection-item">
        Learnt and assisted farmers in hands on organic farming
      </li>
      <li class="collection-item">
        Developed a website alongside team to give information about organic products
      </li>
	    <li class="collection-item">
        A basis structure of social media was implemented, allowing for further growth
      </li>
      <li class="collection-item">
        Shared my own culture from Canada, allowing for others to grow in cultural understanding
      </li>
    </ul>
  </div>
</div>
