<div class="card orange">
  <div class="card-image">
    <img src="images/felix.jpg">
    <span class="card-title card-title-helper">
      <h5>Nerd / Full Stack Developer</h5>
      <h6>Felix Interactive - Amman, Jordan</h6>
      <h6>Aug 2014 - April 2015</h6>
    </span>
  </div>
  <div class="card-content">
    <ul class="collection orange lighten-5">
      <li class="collection-item">
        Developing a service to deploy applications to multiple platforms for web and mobile
      </li>
	    <li class="collection-item">
        Constructed and developed API using NodeJS that is currently used by mobile and web platforms
      </li>
      <li class="collection-item">
        Configured NoSQL Cassandra cluster to be used by multi platform applications
      </li>
	    <li class="collection-item">
        Designed back process to handle dynamic queries, resulting in ability for applications to use dynamic data
      </li>
      <li class="collection-item">
        Generated deployment scripts through Capistrano, easing the team in using the Cassandra clustere
      </li>
	    <li class="collection-item">
        Advocated TDD / BDD and made automated scripts through Gulp.js, resulting in faster development
      </li>
      <li class="collection-item">
        Worked on front end web interpreter to handle and draw dynamic data from the application
      </li>
    </ul>
  </div>
</div>
