<div class="card red accent-1">
  <div class="card-image">
    <%- cloudinary.image('engage_tazhuu.jpg', trans.common) %>
    <span class="card-title card-title-helper">
      <h5>Director of Engagement</h5>
      <h6>AIESEC Toronto - Toronto, Canada</h6>
      <h6>Jan 2013 - April 2013</h6>
    </span>
  </div>

  <div class="card-content">
    <ul class="collection red lighten-5">
      <li class="collection-item">
        Improve the lacking relationship between the members of the team
      </li>
	    <li class="collection-item">
        Discussed with team about what makes a team and helped foster the trust between the members
      </li>
      <li class="collection-item">
        Aligned interests of the team with the interests of each member, creating common goal
      </li>
	    <li class="collection-item">
        Established a general structure of rewarding members for their achievements
      </li>
      <li class="collection-item">
        Engaged with the members on a day to day basis to gain insights of improvement
      </li>
    </ul>
  </div>
</div>
