<div class="card small">
  <div class="card-image">
    <img src="images/default-1.jpg">
    <span class="card-title">
      <h5>International Relations Manager</h5>
      <h6>AIESEC Singapore - Singapore, Singapore</h6>
      <h6>Nov 2013 - Jan 2014</h6>
    </span>
  </div>
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</div>
