<div class="card red accent-1">
  <div class="card-image">
    <%- cloudinary.image('aiesec2_mph62o.jpg') %>
    <span class="card-title card-title-helper">
      <h5>International Relations Manager</h5>
      <h6>AIESEC Singapore - Singapore, Singapore</h6>
      <h6>Nov 2013 - Jan 2014</h6>
    </span>
  </div>

  <div class="card-content">
    <ul class="collection red lighten-5">
      <li class="collection-item">
        Help establish missing partnerships with other entities involved with AIESEC Singapore
      </li>
	    <li class="collection-item">
        Figure out ways to market the current projects in AIESEC Singapore to involved stakeholders
      </li>
      <li class="collection-item">
        Planned a marketing campaign with Glints, a partner of AIESEC Singapore
      </li>
	    <li class="collection-item">
        Suggested and created a video advertisement with Glints to further market our partnership and projects
      </li>
    </ul>
  </div>
</div>
