<div class="card orange">
  <div class="card-image">
    <%- cloudinary.image('kendo_z6oodn.jpg', trans.common) %>
    <span class="card-title card-title-helper">
      <h5>Director of Sports</h5>
      <h6>CESA - Toronto, Canada</h6>
      <h6>Spet 2012 - April 2013</h6>
    </span>
  </div>

  <div class="card-content">
    <ul class="collection red lighten-5">
      <li class="collection-item">
        The club lacked in new and creative sports events that exposed different cultures
      </li>
	    <li class="collection-item">
        Created relationships with the Engineering Ping Pong Club to cohost a tournament
      </li>
      <li class="collection-item">
        Worked on the board of executives to create and improve on events
      </li>
    </ul>
  </div>
</div>
